body {
  margin: 0;
  padding: 0;
}
.container {
  width: 351px;
  height: 113px;
  background-color: aqua;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 8px auto;
}
h3 {
  text-align: center;
  margin-top: 5px;
  color: rgb(70, 70, 70);
}
input[type="text"] {
  margin-left: 10px;
  width: 309px;
  height: 15px;
}
.lucky {
  margin: 5px 20px;
}
.search {
  margin: 5px 20px 0px 40px;
}

.tbl2 {
  align-items: center;
  width: 319px;
  height: 114px;
}
.td1 {
  align-items: center;
  background-color: #7ee5da;
  width: 112px;
  height: 83px;
}
.td2 {
  align-items: center;
  background-color: #70ccc2;
}
.td3 {
  align-items: center;
  background-color: #62b3aa;
}
.bg-grey {
  background-color: #f0e9e9;
  width: 700px;
  margin: auto;
}
.txt-2 {
  width: 169x;
}
